<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="
  http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

	<bean id="auditContextFactory" class="com.liferay.smp.audit.AuditContextFactoryImpl" />

	<bean id="userActionFactory" class="com.liferay.smp.model.UserActionFactoryImpl" />

	<bean id="dBObjectFactory" class="com.liferay.smp.bigdata.DBObjectFactoryImpl" />

	<bean id="printWriter" class="com.liferay.smp.io.PrintWriterImpl" />

	<bean id="mongo" class="com.liferay.smp.bigdata.MongoClient" />

	<bean id="dB" class="com.liferay.smp.bigdata.DBImpl" />

	<bean id="logFileStore" class="com.liferay.smp.audit.LogFileStore">
		<property name="printWriter" ref="printWriter" />
	</bean>

	<bean id="generalAuditor" class="com.liferay.smp.audit.GeneralAuditor">
		<property name="auditContextFactory" ref="auditContextFactory" />
		<property name="auditStore" ref="logFileStore" />
	</bean>

	<bean id="remoteSystemService" class="com.liferay.smp.service.impl.RemoteSystemServiceImpl">
		<property name="generalAuditor" ref="generalAuditor" />
	</bean>

	<bean id="noSQLStore" class="com.liferay.smp.audit.NoSQLStore">
		<property name="dBObjectFactory" ref="dBObjectFactory" />
		<property name="mongo" ref="mongo" />
	</bean>

	<bean id="userActionAuditor" class="com.liferay.smp.audit.UserActionAuditor">
		<property name="auditContextFactory" ref="auditContextFactory" />
		<property name="auditStore" ref="noSQLStore" />
	</bean>

	<bean id="messageBoardService" class="com.liferay.smp.service.impl.MessageBoardServiceImpl">
		<property name="userActionAuditor" ref="userActionAuditor" />
		<property name="userActionFactory" ref="userActionFactory" />
	</bean>
</beans>