<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="
  http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

	<bean id="meetingRoomSchedulingService" class="com.liferay.smp.service.impl.MeetingRoomSchedulingServiceImpl" />
	<bean id="phoneConferenceService" class="com.liferay.smp.service.impl.PhoneConferenceServiceImpl" />
	<bean id="webExMeetingService" class="com.liferay.smp.service.impl.WebExMeetingServiceImpl" />

	<bean id="scheduler" class="com.liferay.smp.event.scheduler.Scheduler" />
	<bean id="onceWebExBuilder" class="com.liferay.smp.event.scheduler.OnceWebExEventBuilder" />
	<bean id="dailyScrumBuilder" class="com.liferay.smp.event.scheduler.DailyScrumPhoneEventBuilder" />
	<bean id="allHandsBuilder" class="com.liferay.smp.event.scheduler.QuarterlyAllHandsEventBuilder" />
</beans>